<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

<div id="vAlign" class="display_always">
    <div id="signUpFormWrap">
        <ul class="notifications">
            <li class="notification error" id="cannotconfirm">
              <%= gettext('There was a problem with your signup link.  Has this address already been registered?') %>
            </li>

            <li class="notification error" id="cannotcommunicate">
              <%= gettext('Error comunicating with server.') %>
            </li>

            <li class="notification error" id="cannotcomplete">
              <%= gettext('Error encountered trying to complete registration.') %>
            </li>
        </ul>

        <div id="congrats">
            <p class="serif">
              <%- gettext('Thank you for signing up with <strong>BrowserID</strong>. You can now use your <strong>BrowserID</strong> account to <em>Sign In</em> or <em>Sign Up</em> to websites all across the web!')
              %>
            </p>

            <p class="serif siteinfo">
              <%= gettext('Your new address is set up and you should now be signed in. You may now close this window.') %>
            </p>
        </div>

    </div>
</div>

